<form id="addForm" action="/shopping" method="POST">
  <label for="item">Item:</label>
  <input type="text" name="item" value="" id="item" size="50" maxlength="50" />
  <label for="qty">Quantity:</label>
  <input type="number" name="qty" value="1" id="qty" size="2" maxlength="2" max="100" />
  <button type="submit"><i class="fas fa-save"></i>Add shopping item</button>
</form>
